{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        {% if user.is_superuser %}
        <h1><i class="bi bi-person-lock"></i> {{ request.user.username }} | Usuario Administrador</h1>
        <hr>
        <p>Este usuario posee permisos de lectura y escritura de datos.</p>
        {% else %}
        <h1><i class="bi bi-person"></i> {{ request.user.username }} | Usuario Pyme manager</h1>
        <hr>
        <p>Este usuario solo posee permisos de lectura de datos.</p>
        {% endif %}
    </section>
</main>
{% endblock %}