{% extends 'base.html' %}
{% block content %}
<main class="container py-5 text-center col-md-6">
    <h1 class="mb-4">Aplicacion para la gestion de clientes</h1>
    <hr>
    <section class="card card-body">
        {% if user.is_superuser or user.is_staff %}
        <h2><i class="bi bi-person-lock"></i> {{ request.user.username }} <br> Usuario Administrador</h2>
        <hr>
        <p>Este usuario posee permisos de lectura y escritura de datos.</p>
        {% else %}
        <h2><i class="bi bi-person"></i> {{ request.user.username }} | Usuario Pyme manager</h2>
        <hr>
        <p>Este usuario solo posee permisos de lectura de datos.</p>
        {% endif %}
    </section>
</main>
{% endblock %}