{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-6 offset-md-3 mt-5">
            <form action="/signin/" method="POST" class="card card-body text-center">
                {% csrf_token %}
                <h1>Iniciar sesion</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label mt-3">Nombre de usuario</label>
                    <input type="text" name="username" class="form-control text-center" >
                </div>
                <div class="mb-3">
                    <label class="form-label mt-3">Contraseña</label>
                    <input type="password" name="password" class="form-control text-center" >
                </div>
                <button class="btn btn-primary mt-2">
                    Iniciar sesion
                </button>
            </form>
        </section>
    </div>
</main>

{% endblock %}