{% extends 'base.html' %}

{% block content %}
{% if clientes %}
<div clas="">
    <div class="container">
        <div class= "row">
            <div class="col-md-12 search mt-5">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12 ">
                            <input type="text" class="form-control me-2" placeholder="buscar..." name="buscar"  >
                            <span class="input-group-list">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>                       
                        </div>    
                    </div>
                </form>    
            </div>    
        </div>
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h1 class="text-center py-5">Lista de Clientes</h1>

            <table class="table table-responsive shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Razon</th>
                        <th>Rut</th>
                        <th>Contacto</th>
                        <th>Telefono</th>
                        <th>Ingreso</th>
                        <th>Regimen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    {% if cliente.estado %}
                    <tr>
                        <td>{{cliente.razonSocial}}</td>
                        <td>{{cliente.rutEmpresa}}</td>
                        <td>{{cliente.nombreContacto1}}</td>
                        <td>{{cliente.telefonoContacto1}}</td>
                        <td>{{cliente.fechaIngresoCliente}}</td>
                        <td>{{cliente.regimenTributario}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a href="{% url 'cliente_detail' cliente.id %}" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
                            {% else %}
                            <a href="{% url 'ver_cliente' cliente.id %}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="table-secondary"><i class="bi bi-lock-fill"></i> {{cliente.razonSocial}}</td>
                        <td class="table-secondary">{{cliente.rutEmpresa}}</td>
                        <td class="table-secondary">{{cliente.nombreContacto1}}</td>
                        <td class="table-secondary">{{cliente.telefonoContacto1}}</td>
                        <td class="table-secondary">{{cliente.fechaIngresoCliente}}</td>
                        <td class="table-secondary">{{cliente.regimenTributario}}</td>
                        <td class="table-secondary">
                            {% if user.is_superuser %}
                            <a href="{% url 'cliente_detail' cliente.id %}" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
                            {% else %}
                            <a href="{% url 'ver_cliente' cliente.id %}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% else %}
<h4 class="m-5 text-secondary">No Existen clientes en el sistema</h4>
{% endif %}
{% if user.is_superuser %}
<div class="container text-end">
    <a class="btn btn-primary" href="/clientes/create">Agregar cliente</a>
</div>
{% endif %}
{% endblock %}