{% extends 'base.html' %}

{% block content %}
<div clas="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search mt-5">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="buscar..." name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-primary">buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<main class="container card-body mt-3  ">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <table class="table table-responsiva">
                <thead>
                    <tr>
                        <th>Nombre de Fantasía</th>
                        <th>RUT Empresa</th>
                        <th>Razón Social</th>
                        <th>Aciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>
                            {% if cliente.estado %}
                                <h4 class="fw-bold">{{ cliente.nombreDeFantasia }}</h4>
                            {% else %}
                                <h4 class="text-secondary">{{ cliente.nombreDeFantasia }}</h4>
                            {% endif %}
                        </td>
                        <td>{{ cliente.rutEmpresa }}</td>
                        <td>{{ cliente.razonSocial }}</td>
                        <td>
                            <a href="{% url 'cliente_detail' cliente.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'verCliente' cliente.id %}" class="btn btn-primary " data-nombre="{{cliente.nombre}}" id="verCliente">Ver</a>
                        </td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</main>

{% endblock %}
