{% extends 'base.html' %}

{% block content %}

<main id="main" class="main">
  {% csrf_token %}
  {{form.as_p}}
  

  <div class="card shadow mt-6 ">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ cliente.nombreDeFantasia }}</h6>
    </div>
  <main class="container card-body mt-3  ">
    <div class="container mt-6">
      <table class="table   table-sm ">
        <thead>
          <tr>
            <th scope="col">informacion</th>
            <th scope="col">Datos</th>
          </tr>
          </thead>
          <tbody>
            <tr>
            <th scope="row">Rut Empresa</th> 
            <td>{{ cliente.rutEmpresa }}</td>          
          </th>
          </tr>
          <tr>
          <th scope="row">Fecha Ingreso </th>
          <td>{{ cliente.fechaIngresoCliente }}</td>       
          </tr>
          <tr>
            <th scope="row">Clave SII</th>
            <td>{{ cliente.claveSII }}</td>        
          </tr>
          <tr>
            <th scope="row">Nombre Contacto 1 </th>
            <td>{{ cliente.nombreContacto1 }}</td>        
          </tr>
          <tr>
            <th scope="row">Telefono Contacto 1 </th>
            <td>{{ cliente.telefonoContacto1 }}</td>       
          </tr>
          <tr>
            <th scope="row">Email Contacto 1 </th>
            <td>{{ cliente.telefonoContacto1 }}</td>       
          </tr>
          <tr>
            <th scope="row">Nombre Contacto 2 </th>
            <td>{{ cliente.nombreContacto2 }}</td>        
          </tr>
          <tr>
            <th scope="row">Telefono Contacto 2 </th>
            <td>{{ cliente.telefonoContacto2 }}</td>       
          </tr>
          <tr>
            <th scope="row">Email Contacto 2 </th>
            <td>{{ cliente.telefonoContacto2 }}</td>       
          </tr>
          <tr>
            <th scope="row">Representante legal </th>
            <td>{{ cliente.representanteLegal }}</td>       
          </tr>
          <tr>
            <th scope="row">Rut Representante legal </th>
            <td>{{ cliente.rutRepresentanteLegal }}</td>       
          </tr>
          <tr>
            <th scope="row">Banco</th>
            <td>{{ cliente.banco }}</td>       
          </tr>
          <tr>
            <th scope="row">Tipo cuenta  </th>
            <td>{{ cliente.tipoCuenta }}</td>       
          </tr>
          <tr>
            <th scope="row">Numero de cuenta  </th>
            <td>{{ cliente.numeroCuenta }}</td>      
          </tr>
          <tr>
            <th scope="row">CLave SII Representante legal</th>
            <td>{{ cliente.claveSIIRepresentante }}</td>
          </tr>
          <tr>
            <th scope="row">Inicio Actividades  </th>
            <td>{{ cliente.inicioActividades }}</td>       
          </tr>
          <tr>
            <th scope="row">Regimen tributario </th>
            <td>{{ cliente.regimenTributario }}</td>       
          </tr>
          <tr>
            <th scope="row">Clave Certificado digital </th>
            <td>{{ cliente.claveCertificadoDigital }}</td>       
          </tr>
          <tr>
            <th scope="row">Vencimiento Certificado digital</th>       
            <td>{{ cliente.vencimientoCertificadoDigital }}</td>
          </tr>
          <tr>
            <th scope="row">Usuario Previred </th>
            <td>{{ cliente.usuarioPrevired }}</td>       
          </tr>
          <tr>
            <th scope="row">Clave Previred </th>
            <td>{{ cliente.clavePrevired }}</td>       
          </tr>
          <tr>
            <th scope="row">Otro Servicio</th>
            <td>{{ cliente.otroServicio }}</td>       
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>{{ cliente.estado }}</td>       
          </tr>


    </tbody>
  </table>
</main>

</div>
  
                  {% endblock %}