{% extends 'base.html' %}

{% block content %}
{% if usuarios %}
<div clas="">
    <div class="container">
        <div class= "row">
            <div class="col-md-12 search mt-5">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12 ">
                            <input type="text" class="form-control me-2" placeholder="buscar..." name="buscar"  >
                            <span class="input-group-list">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>                       
                        </div>    
                    </div>
                </form>    
            </div>    
        </div>
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h1 class="text-center py-5">Lista de Usuarios</h1>
            <table class="table table-responsive shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Nombre de usuario</th>
                        <th>editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    {% if usuario.is_active %}
                    <tr>
                        <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.username}}</td>
                        <td>
                            <a href="{% url 'usuario_detail' usuario.id %}" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="table-secondary"><i class="bi bi-lock-fill"></i> {{usuario.first_name}} {{usuario.last_name}}</td>
                        <td class="table-secondary">{{usuario.email}}</td>
                        <td class="table-secondary">{{usuario.username}}</td>
                        <td class="table-secondary">
                            <a href="{% url 'usuario_detail' usuario.id %}" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</main>
{% else %}
<div class="container">
    <h4 class="m-5 text-secondary">No Existen usuarios en el sistema</h4>
</div>
{% endif %}
<div class="container text-end">
    <a class="btn btn-primary" href="/usuarios/create">Agregar usuario</a>
</div>
{% endblock %}