{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col mt-4">
            <h1 class="mb-4">{{usuario.username}}</h1>

            <form method="POST" class="form">
                {% csrf_token %}
                {{ error }}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Nombre de usuario</label>
                    <input type="text" name="username" id="id_username" class="form-control" value="{{ form.username.value }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Correo electrónico</label>
                    <input type="email" name="email" id="id_email" class="form-control" value="{{ form.email.value }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">Nombre</label>
                    <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ form.first_name.value }}" readonly>
                </div>
                
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Apellido</label>
                    <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ form.last_name.value }}" readonly>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <form action="{% url 'usuario_delete' usuario.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger mt-1">
                            <i class="bi bi-trash-fill"></i> Eliminar
                        </button>
                    </form>
                </div>
                <div class="col text-end">
                    <form action="{% url 'desactivar_usuario' usuario.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning"><i class="bi bi-person-dash"></i> Desactivar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}