{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col">
            <h1>{{usuario.nombre}}</h1>

            <form method="POST">
                {% csrf_token %}
                <div class="row mt-4">
                    <div class="col">
                        <div class="form-group col">
                            <label for="{{ form.nombre.id_for_label }}">Nombres:</label>
                            {{ form.nombre }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group col">
                            <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                            {{ form.apellido }}
                        </div>
                    </div>
                </div>
                <div class="form-group col mt-4">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="form-group col">
                            <label for="{{ form.nombreDeUsuario.id_for_label }}">Nombre de usuario:</label>
                            {{ form.nombreDeUsuario }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group col">
                            <label for="{{ form.rol_usuario.id_for_label }}">Rol:</label>
                            {{ form.rol_usuario }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group col">
                            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="form-group col mt-4">
                    <label for="{{ form.cliente.id_for_label }}">Empresa cliente:</label>
                    {{ form.cliente }}
                </div>
                <div class="form-group col mt-4">
                    <label for="{{ form.estado.id_for_label }}">Estado activo/inactivo:</label>
                    {{ form.estado }}
                </div>
                <button class="btn btn-primary">
                    Editar
                </button>
            </form>
            <form action="{% url 'usuario_delete' usuario.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger mt-1">
                    Eliminar
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}